@tailwind base;

@tailwind components;

@tailwind utilities;


.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
  font-size: 100px;
}

.input[type=text] {
  border: 6px solid black;
  border-radius: 20px;
}

.line-5 {
  height: 5px;
  background: linear-gradient(
    to bottom,
    transparent 2px,
    black 2px,
    black 3px,
    transparent 3px
  );
}

.glowing-border {
  border: 2px solid #dadada;
  border-radius: 7px;
}

.glowing-border:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid skyblue;
}

.button1:hover {
  background-color: skyblue;
  color: white;
}

.paper{
  background-color: #fafafa;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center;
}

.paper:hover{
  box-shadow: skyblue 0px 0px 20px 0px;
}

.header2 {
  padding: 4px;
  text-align: center;
  background: lightseagreen;
  color: white;
  font-size: 48px;
  font-family: 'Brush Script MT', cursive;

}